@charset "UTF-8";

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    text-align: center;
}

header p {
    color: white;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

p {
    color: white;
    text-align: center;
}

header h1 {
    color: white;
}

body{
    margin: 0px;
    font-variant: small-caps;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem > pre {
    background-color: rgba(0, 0, 0, 0.49);
    width: 500px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(0, 0, 0);
    color: white;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.656);
    background-attachment: fixed;
}

#img01 {
    background-image: url(../imgs/joaninha.jpg);
    background-position: right center;
    background-size: cover;
}

#img02 {
    background-image: url(../imgs/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: rgb(9, 0, 33);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}