@charset "UTF-8";

:root {
--cor1:#c5ebd6;
--cor2:#83e1ad;
--cor3:#3ddc84;
--cor4:#2fa866;
--cor5:#000c06;
--cor6: #000502;
--cor7: #e42f72;

--texto-principal: arial;
--font-peso: bold;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  padding: 20px 0;
  text-align: center;
  font-size: 24px; 
}

body {
    background-color:#9f4242 ;
    font-weight: var(--font-peso);
}

 header > h1 {
    color: #ffffff;
    font-weight: var(--texto-principal);
    padding: 10px;
    color: #ffffff;
    color: white;
    -webkit-text-stroke: 1px rgb(12, 1, 221);
    text-shadow: 0 0 2px rgb(212, 11, 11);
    }

a {
    color: rgb(0, 123, 231);
    
}

nav {
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    }

    main {
        background-color: azure;
        margin: auto; 
        border-radius: 13px;
        box-shadow: 10px 10px 15px;
        min-width: 320px;
        max-width: 1000px;
    }

    .aga {
       
        background-color: red;
        color: aqua;
        padding: 12px;
    }

    p {
        padding: 20px;
        color: rgb(88, 1, 1);
        
        
    }

    h2 {
        padding: 20px;
        color: black;
    }

    .jose {
        background-color: #00ff77;
        color: azure;
        text-align: center;
        font: var(--texto-principal);
    }

    img {
        margin: 10px;
        width: 100%;
        
    }

    footer > p {
        color: var(--cor2);
        text-align: center;
        background-color: var(--cor6) ;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        background-color: #5af09e;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    footer >p >a {
        color: #3ddc84;
    }

     footer >p >a:hover {
        color: blue;
        background-color: white;
        padding: 5px;
        font-weight: bold;
        border-radius: 10px;
     }

     .aprendi {
        background-color: var(--cor7);
        padding: 10px;
        margin-top: 15px;
        border-radius: 15px;
        
     }

     H3 {
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #000c06;
        margin: -10px;
        border-radius: 15px 15px 0px 0px;
        padding: 15px;
     }

      .aprendi > p {
        color: #ffffff;
        font-family: arial;
     }

     .aprendi > h3:hover {
        color: yellow;
        font-size: 20px;
     }
  