@charset "UTF-8";

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100vh;
}

header {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    text-align: center;
}

header p {
    color: white;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

p {
    color: white;
    text-align: center;
}

header h1 {
    color: white;
}

body{
    margin: 0px;
    font-variant: small-caps;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem > pre {
    background-color: rgba(0, 0, 0, 0.329);
    width: 500px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(49, 49, 49);
    color: white;
}



footer {
    background-color: rgb(9, 0, 33);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}